$colors: (
    body: (
        color: #6D6C80,
    ),
    heading: (
        color: #161439,
    ),
    theme: (
        primary: #5751E1,
        secondary: #FFC224,
    ),
    common: (
        color-blue: #050071,
        color-blue-2: #282568,
        color-indigo: #9B51E0,
        color-purple: #8121FB,
        color-pink: #d63384,
        color-red: #E11B24,
        color-orange: #fd7e14,
        color-yellow: #F8BC24,
        color-yellow-2: #FBE67B,
        color-green: #12BB6A,
        color-teal: #219653,
        color-cyan: #0dcaf0,
        color-white: #fff,
        color-gray: #F7F7F9,
        color-gray-2: #EFEEFE,
        color-gray-3: #7F7E97,
        color-gray-4: #ACAACC,
        color-gray-5: #B2BBCC,
        color-dark: #1C1A4A,
        color-black: #06042E,
        color-black-2: #161439,
        color-black-3: #000,
    ),
    border: (
        1: #C9C9DD,
        2: #D0DAE9,
        3: #E2E2E2,
        4: #D7DCE3,
        5: #2F466A,
    )
);
